@charset "UTF-8";
@font-face {
    font-family: Fonte;
    src: url(MadimiOne-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: Fonte;
    overflow-x: none;
    background-color: #32337F;
    scroll-behavior: smooth;
}

header{
    position: relative;
    background-color: #32337F;
    width: 100vw;
    height: 80px;
}

header  span#logo img{
    margin-left: 20px;
    height: 80px;
    width: 80px;
}

#menu{
    position: absolute;
    top: 0%;
    right: 5%;
    color: white;
    font-size: 50px;
    z-index: 999;
}


#Apps{
    display: none;
    background-color: #32337F; 
    animation-name: menul;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 2;
}
@keyframes menul{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translate(0);
    }
}

#gp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 10px;
}
#as{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 20px;
}
#gp:hover{
    transform: scale(0.95);
}

#as:hover{
    transform: scale(0.95);
}

#login{
    margin: 20px auto;
    background-color: #32337F;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    height: 40px;
    font-size: 1em;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}
#login:hover{
    color:  #32337F;
    background-color: white;
    transform: scale(0.95);
}

main{
    width: 100vw;
    height: 100vw;
    z-index: 1;
}
#deg{
    background-image: linear-gradient( to bottom, #2F3273, #16F2F2, #F25EA3, #32337F);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoAvakin{
    background-image: url(avakim-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 200px;
}
@media screen and (max-height: 300px) {
    #logoAvakin{
        background-image: url(avakim-logo.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 150px;
    }
    #deg{
        height: 70vh;
    }
}

button{
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.linha{
    width: 20px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 1s ease;
}
button.ativar .linha:nth-child(1){
    transform: translateY(7px) rotate(-45deg);
}

button.ativar .linha:nth-child(3){
    transform: translateY(-7px) rotate(45deg);
}
button.ativar .linha:nth-child(2){
    width: 0;
}

#LogIn{
    display: none;
    background-color: #18202C;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

#LogIn h1{
    position: absolute;
    top: 30px;
    padding-top: 50px;
    text-align: center;
    color: yellow;
}
#LogIn input{
    position: absolute;
    top: 18%;
    margin-top: 20px;
    width: 350px;
    height: 45px;
    border: 2px solid white;
    background-color: #18202C;
    border-radius: 30px;
    padding-left: 20px;
    color: white;
    font-size: 1em;
    transition: .5s ease;
}
#LogIn input:focus{
    outline: none;
}
#LogIn input:hover{
    background-color: #253144;
}

#continuar{
    position: absolute;
    top: 30%;
    background-color: #6DE78D;
    color: #18202C;
    border-radius: 30px;
    border: none;
    padding: 20px;
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: .5s ease-in-out;
}
#continuar:hover{
    scale: 0.95;
}
#close{
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    font-size: 2em;
}
#close1{
    display: none;
}
#imgt{
    display: block;
    height: 500px;
    width: 300px;
    margin: auto;
}
#help{

    color: white;
    position: absolute;
    top: 40%;
}
#helpi{
    background-color: #DC4FA9;
    border-radius: 50%;
    color: white;
    font-size: .7em;

}
#desb{
    text-align: center;
    cursor: pointer;
}
#H{
    padding-left: 20px;
}
#H:hover{
    color: #253144;
}

#tut{
    display: none;
    background-color: #18202C;
    width: 100vw;
    padding-bottom: 30px;
    transition: .5s ease-in-out;
}
#tut p{
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 20px;
    width: 80vw;
}
#Apps1{
    display: none;
}
#button1{
    position: absolute;
    top: 3%;
    right: 5%;

}

#Giopas{
    position: absolute;
    top: 25%;
    left: 18%;
}

#Giopas > #gp1 :hover{
    transform: scale(0.95);
}

#Giopas > #as1 :hover{
    transform: scale(0.95);
}

#login1{
    margin: 20px auto;
    background-color: #32337F;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    height: 40px;
    font-size: 1em;
}
#login1:hover{
    color: #32337F;
    background-color: white;
    transform: scale(0.95);
}
#Sycp{
    color: yellow;
    text-align: center;
    padding-top: 60px;
    font-size: 2em;
}
#boxes{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
}
#box{
    background-image: linear-gradient(to bottom, #32337F, #0FDEEE
, #DEE662, #F65D99);
    height: 320px;
    width: 160px;
    margin: 10px 10px;
    box-shadow: 0px 0px 15px 0px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: .5 ease-in-out;
}
#box:hover{
    transform: scale(1.03);
}
#img{
    height: 140px;
}
#price{
    width: 130px;
    padding: 15px;
    color: white;
    background: #32337F;
    font-size: 1.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .5s ;
    margin-bottom: 15px;
}
#box h1{
    font-size: 2em;
    color: white;
    text-align: center;
}
#price:hover{
    transform: scale(0.95);
}
@keyframes animar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.mo{
    animation-name: animar;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@media screen and (max-width: 450px) {
    #Sycp{
        font-size: 1.7;
    }
    #deg{
        height: 40vh;
    }
    #logoAvakin{
        height: 200px;
    }
    #box{
        width: 130px;
        height: 290px;
    }
    #price{
        width: 100px;
    }
    #box h1{
        font-size: 1.6em;
    }
}
@media screen and (min-width: 768px){
    #logoAvakin{
        background-image: url(imagem-inicioG.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 300px;
    }
    #deg{
        background-image: linear-gradient( to bottom, #2F3273, #16F2F2, #F25EA3, #32337F);
        height: 60vh;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menu{
        display: none;
    }
    #Apps{
        display: none;
    }
    #Apps1{
        display: inline-block;
    }
    #LogIn{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #18202C;
        width: 500px;
        height: 500px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 20px;
        z-index: 999;
        overflow-y: scroll;
    }
    
    #LogIn h1{
        position: absolute;
        top: 30px;
        padding-top: 50px;
        text-align: center;
        color: yellow;
    }
    #LogIn input{
        position: absolute;
        top: 23%;
        margin-top: 20px;
        width: 350px;
        height: 45px;
        border: 2px solid white;
        background-color: #18202C;
        border-radius: 30px;
        padding-left: 20px;
        color: white;
        font-size: 1em;
        transition: .5s ease;
    }
    #LogIn input:focus{
        outline: none;
    }
    #LogIn input:hover{
        background-color: #253144;
    }
    
    #continuar{
        position: absolute;
        top: 40%;
        background-color: #6DE78D;
        color: #18202C;
        border-radius: 30px;
        border: none;
        padding: 20px;
        width: 250px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        transition: .5s ease-in-out;
    }
    #continuar:hover{
        scale: 0.95;
    }
    #close{
        display: none;
    }
    
    #imgt{
        display: block;
        height: 500px;
        width: 300px;
        margin: auto;
    }
    #help{
        color: white;
        position: absolute;
        top: 55%;
    }
    #helpi{
        background-color: #DC4FA9;
        border-radius: 50%;
        color: white;
        font-size: .7em;
    }
    #desb{
        text-align: center;
        cursor: pointer;
    }
    #H{
        padding-left: 20px;
    }
    #H:hover{
        color: #253144;
    }
    
    #tut{
        display: none;
        background-color: #18202C;
        width: 500px;
        padding-bottom: 30px;
        transition: .5s ease-in-out;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #tut p{
        display: block;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 20px;
        width: 30vw;
    }
    #close1{
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
        color: white;
        font-size: 2em;
    }
    #boxes{
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 60vw;
        margin: auto;
        z-index: -1;
    }
    #box{
        background-image: linear-gradient(to bottom, #32337F, #0FDEEE
    , #DEE662, #F65D99);
        height: 350px;
        width: 220px;
        margin: 10px 10px;
        box-shadow: 0px 0px 15px 0px black;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        transition: .5 ease-in-out;
    }
    #box:hover{
        transform: scale(1.03);
    }
    #img{
        height: 190px;
    }
    #price{
        width: 130px;
        padding: 15px;
        color: white;
        background: #32337F;
        font-size: 1.5em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .5s ;
    }
    #box h1{
        font-size: 2em;
        color: white;
        text-align: center;
    }
    #price:hover{
        transform: scale(0.95);
    }
}

@media screen and (min-width: 1200px){
    #logoAvakin{
        background-image: url(imagem-inicioG.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 400px;
    }
    #deg{
        background-image: linear-gradient( to bottom, #2F3273, #16F2F2, #F25EA3, #32337F);
        height: 80vh;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Apps{
        display: none;
    }
    #Apps1{
        display: inline-block;
    }
    #LogIn{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #18202C;
        width: 500px;
        height: 500px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 20px;
        z-index: 999;
        overflow-y: scroll;
    }
    
    #LogIn h1{
        position: absolute;
        top: 30px;
        padding-top: 50px;
        text-align: center;
        color: yellow;
    }
    #LogIn input{
        position: absolute;
        top: 23%;
        margin-top: 20px;
        width: 350px;
        height: 45px;
        border: 2px solid white;
        background-color: #18202C;
        border-radius: 30px;
        padding-left: 20px;
        color: white;
        font-size: 1em;
        transition: .5s ease;
    }
    #LogIn input:focus{
        outline: none;
    }
    #LogIn input:hover{
        background-color: #253144;
    }
    
    #continuar{
        position: absolute;
        top: 40%;
        background-color: #6DE78D;
        color: #18202C;
        border-radius: 30px;
        border: none;
        padding: 20px;
        width: 250px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        transition: .5s ease-in-out;
    }
    #continuar:hover{
        scale: 0.95;
    }
    #close{
        display: none;
    }
    
    #imgt{
        display: block;
        height: 500px;
        width: 300px;
        margin: auto;
    }
    #help{
        color: white;
        position: absolute;
        top: 55%;
    }
    #helpi{
        background-color: #DC4FA9;
        border-radius: 50%;
        color: white;
        font-size: .7em;
    }
    #desb{
        text-align: center;
        cursor: pointer;
    }
    #H{
        padding-left: 20px;
    }
    #H:hover{
        color: #253144;
    }
    
    #tut{
        display: none;
        background-color: #18202C;
        width: 500px;
        padding-bottom: 30px;
        transition: .5s ease-in-out;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #tut p{
        display: block;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 20px;
        width: 30vw;
    }
    #close1{
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
        color: white;
        font-size: 2em;
    }
    #boxes{
        z-index: -1;
    }
}
